<div ng-controller="signUpController">
<p>Registration Page</p>
<p>
<input type="text" ng-model="firstname" placeholder="Enter your first name" required><br>
<input type="text" ng-model="lastname" placeholder="Enter your last name" required><br>
<input type="email" ng-model="email" placeholder="Enter your email" required><br>
<input type="phone" ng-model="phone" placeholder="Enter your phone" required><br>
<input type="address" ng-model="address" placeholder="Enter your address"><br>
<input type="password" ng-model="password" placeholder="Enter your password" required><br>
</p>
<p>
<button type="button" ng-click="insertData()">SignUp</button><br>
</p>
</div>
